# Cuando diseñes componentes quiero que tengan un buen UI/UX, por lo tanto deben de cumplir las siguientes 12 leyes:
- Ley de Prägnanz
- Ley de Hick
- Ley de Tesler
- Ley de Proximidad
- Efecto de Posición Serial
- Ley de Fitts
- Ley de Parkinson
- Efecto Von Restorff
- Principio de Pareto
- Efecto Zeigarnik
- Ley de Miller
- Ley de Jakob